@import 'tailwindcss';

:root {
  --error-color: #cf1c25;
  --success-color: #007859;
  --light: #f5f5f5;
  --dark: #1e1e1e;
}

::-webkit-scrollbar {
  background-color: var(--accent-color);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-color);
  border-radius: 10px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html[data-theme='system'] {
    --background-color: var(--dark);
    --foreground-color: var(--light);
    --transparent-color: color-mix(
      in srgb,
      var(--background-color) 75%,
      var(--foreground-color) 0%
    );
    --accent-color: color-mix(
      in srgb,
      var(--background-color) 84%,
      var(--foreground-color) 7%
    );
    --neutral-color: color-mix(
      in srgb,
      var(--background-color) 84%,
      var(--foreground-color) 21%
    );
    --highlight-color: color-mix(
      in srgb,
      var(--background-color) 84%,
      var(--foreground-color) 14%
    );
  }
}

@media (prefers-color-scheme: light) {
  html[data-theme='system'] {
    --background-color: var(--light);
    --foreground-color: var(--dark);
    --transparent-color: color-mix(
      in srgb,
      var(--background-color) 75%,
      var(--foreground-color) 0%
    );
    --accent-color: color-mix(
      in srgb,
      var(--background-color) 84%,
      var(--foreground-color) 7%
    );
    --neutral-color: color-mix(
      in srgb,
      var(--background-color) 84%,
      var(--foreground-color) 21%
    );
    --highlight-color: color-mix(
      in srgb,
      var(--background-color) 84%,
      var(--foreground-color) 14%
    );
  }
}

html[data-theme='light'] {
  --background-color: var(--light);
  --foreground-color: var(--dark);
  --transparent-color: color-mix(
    in srgb,
    var(--background-color) 75%,
    var(--foreground-color) 0%
  );
  --accent-color: color-mix(
    in srgb,
    var(--background-color) 84%,
    var(--foreground-color) 7%
  );
  --neutral-color: color-mix(
    in srgb,
    var(--background-color) 84%,
    var(--foreground-color) 21%
  );
  --highlight-color: color-mix(
    in srgb,
    var(--background-color) 84%,
    var(--foreground-color) 14%
  );
}

html[data-theme='dark'] {
  --background-color: var(--dark);
  --foreground-color: var(--light);
  --transparent-color: color-mix(
    in srgb,
    var(--background-color) 75%,
    var(--foreground-color) 0%
  );
  --accent-color: color-mix(
    in srgb,
    var(--background-color) 84%,
    var(--foreground-color) 7%
  );
  --neutral-color: color-mix(
    in srgb,
    var(--background-color) 84%,
    var(--foreground-color) 21%
  );
  --highlight-color: color-mix(
    in srgb,
    var(--background-color) 84%,
    var(--foreground-color) 14%
  );
}

* {
  padding: 0px;
  margin: 0px;
  line-height: 1;
  color: var(--foreground-color);
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--background-color);
}

.container {
  container-type: inline-size;
  container-name: container;
}

.page,
.dashboard {
  width: 100%;
}

@media (max-width: 768px) {
  .page,
  .dashboard {
    padding-inline: 14px;
  }
}

@media (min-width: 769px) {
  .header {
    grid-area: 1/2/2/3;
  }

  .main {
    grid-area: 2/2/3/3;
  }
}

@media (min-width: 769px) and (max-width: 1536px) {
  .page {
    padding-inline: 28px;
  }

  .dashboard {
    padding-inline: 14px 28px;
  }
}

@media (min-width: 1537px) {
  .page {
    padding-inline: calc((100% - 1537px + 56px) / 2);
  }

  .dashboard {
    padding-inline-end: calc(100% - 1537px + 112px);
    padding-inline-start: 16px;
  }
}
